* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

body {  
    background: white;
    padding: 0;
    margin: 0;
}

/* Nav */

nav {
    display: flex;
    background-color: white;
    padding: 4px 30px 0 30px;
    box-shadow: 0 0 4px #D7D4D5;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-left: 50px;
}

.nav-bar a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    font-size: 18px;
    transition: 0.4s ease;
}

.nav-bar a:hover {
    color: #989496;
}

.logo-nav {
    padding-left: 80px;
    padding-right: 40px;
}

.logo-nav img {
    width: 100px;
    height: 100px;
}


/* Bienvenidos */

#bienvenidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    padding: 100px 0 100px 270px;
}

#bienvenidos h1 {
    font-size: 60px;
    padding: 0 40px 30px 40px;
}

#bienvenidos p {
    font-size: 20px;
    padding-right: 15px;
    padding-left: 20px;
    font-weight: 600;
    line-height: 30px;
}

/* Footer */

.footer {
    width: 100%;
    height: fit-content;
    background: whitesmoke;
    justify-content: center;
    align-items: center;
}

.footer h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
    padding-bottom: 80px;
}

.redes img {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    transition: 0.3s ease;
}

.redes img:hover {
    cursor: pointer;
    opacity: 0.4;
}

.logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.logo-nav img {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.pay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pay img {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
    width: 60px;
    height: 30px;
    margin-left: 10px;
}

.copy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.copyright {
    color: #000;
    font-size: 15px;
    font-weight: 800;
    padding: 8px 0;
}